<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
	<meta name="format-detection" content="telephone=no, email=no, address=no">
	<title><%= meta.title %></title>
	<meta name="description" content="<%= meta.desc %>" />
	<meta name="keywords" content="" />
	<meta property="og:url" content="このページのURL" />
	<meta property="og:type" content="TOPページはwebsite、子ページはarticle" />
	<meta property="og:title" content="<%= meta.title %>" />
	<meta property="og:description" content="<%= meta.desc %>" />
	<meta property="og:site_name" content="サイト名" />
	<meta property="og:image" content="1200×630以上推奨、絶対パスで指定" />
	<meta name="twitter:card" content="summary or summary_large_image" />
	<meta name="twitter:site" content="@ユーザー名" />
	<link rel="icon" href="<%= path %>static/favicon.ico" />
	<link rel="apple-touch-icon" type="image/png" href="<%= path %>static/apple-touch-icon.png" sizes="180x180" />
</head>
